.content__main {
  height: 100vh;
  background-color: lightskyblue;
}

.content__main__form {
  background-color: white;
  margin: 0 auto;
  width: 25%;
  position: relative;
  top: 40vh;
  border: 1px solid black;
  border-radius: 2em;
  padding: 2em;
}

.content__main__form label {
  padding: 0.2em;
}

.content__main__form input {
  width: 100%;
  margin-bottom: 0.5em;
  font-size: 1.2em;
  border-radius: 0.1em;
  border: 0;
  background-color: lightgray;
  padding: 0.2em;
  outline-width: 0;
}

.content__main__form input:focus {
  opacity: 0.6;
}

.content__main__form button {
  border-color: black;
  border-radius: 2px;
  border-radius: 0.2em;
  padding: 0.5em;
  width: 7em;
  outline-width: 0;
  cursor: pointer;
}

.content__main__form button:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0.7;
  -webkit-box-shadow: 1px 1px;
          box-shadow: 1px 1px;
}
